.MuiTabs-indicator {
    background-color: #707cb9 !important;
    /* background-color: red; */
}

.Mui-selected {
    color: #707cb9 !important;
}

.MuiButtonBase-root:hover {
    background-color: #707cb914;
}

.news-card {
    /* background-color: rgba(128, 128, 128, 0.842); */
}

.card-body .title{
    max-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-body .title span{
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 10px
}

/* .news-image {
    height: 55px;
} */

.news-image img{
    /* max-height: 150px; */
    border-radius: 5px;
    /* width: 100% */
}

/* @media(min-width: 600px) {
    .news-image img{
        height: 60px;
    }
} */


