.MuiTabs-indicator {
    background-color: #707cb9 !important;
    /* background-color: red; */
}

.Mui-selected {
    color: #707cb9 !important;
}

.news-card {
    /* background-color: rgba(128, 128, 128, 0.842); */
}

.card-body .title{
    max-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-body .title span{
    /* display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; */
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 10px
}

.news-image {
    width: 90px;
}
.news-image img{
    width: 100%;
    height: 50px;
    border-radius: 5px;
}