.modal-close {
    padding: 0;
    border: none;
    background: white;
}

.stock-modal-width,  .news-modal {
    max-width: 450px;
}

.stock-modal-footer {
    font-weight: 300;
    color: grey;
    font-size: 12px;
}

.news-title {
    font-size: 16px;
    font-weight: 500;
    max-height: 50px;
    overflow: hidden;
}

.news-summary {
    max-height: 72px;
    overflow: hidden;
    font-size: 12px;
}

.news-modal .modal-header {
    line-height: 1.3;
}