.ticker {
    font-weight: 500;
    font-size: 25px;
}

.company-name {
    font-size: 17px;
    color: #757373;
    font-family: 'Roboto';
}

.company-logo {
    /* max-width: 75px; */
    max-height: 75px;
}

.exchange {
    font-weight: 300;
    font-size: 11px;
}

.buy {
    font-size: 12px;
}

.stock-price .price {
    font-size: 1.7rem;
    font-weight: 500;
    height: 41px;
    line-height: 1.7;
}

.stock-price .change {
    font-size: 1.2rem;
}

.stock-price .timestamp {
    font-size: 11px;
    font-weight: 400;
}

.market-state {
    font-weight: bold;
    font-size: 11px;
}