.ticker {
    font-weight: 500;
    font-size: 25px;
}

.company-name {
    font-size: 17px;
    color: #757373;
    font-family: 'Roboto';
}

.company-logo {
    width: 75px;
    height: 75px;
}

.exchange {
    font-weight: 300;
    font-size: 11px;
}

.buy {
    font-size: 12px;
}

.stock-price .price {
    font-size: 27px;
    font-weight: 500;
    height: 41px;
    line-height: 1.7;
}

.stock-price .change {
    font-size: 15px;
}

.stock-price .timestamp {
    font-size: 10px;
    font-weight: 300;
}

.market-state {
    font-weight: bold;
    font-size: 11px;
}